:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --transition-speed: 600ms;

  --text-primary: #ffffff;
  --text-secondary: #000000;
  --middle-main-color: #0a5c36;
  --middark-main-color: #0f5132;
  --midlight-main-color: #14452f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
}

*:-webkit-scrollbar-thumb {
  background: var(--middle-main-color);
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
  color: var(--text-primary);
}

input:focus {
  outline: none;
}

/* Components */
.search {
  /* font-family: "DM Sans", sans-serif; */
  justify-self: center;
  border: none;
  padding: 1.9rem 3.2rem;
  font-size: 1.7rem;
  border-radius: 3rem;
  width: 60rem;
  color: black;
  background-color: white;
}

/* Main Page*/

.titlecontainer > p {
  padding-bottom: 1rem;
  color: var(--middle-main-color);
  font-weight: bold;
}

.mainpage4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #d9d9d9;
}

.mainpage3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--text-primary);
}

.mainpage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: var(--midlight-main-color);
}

.mainpage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50vh;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(20px 3px 7px black);
}

.titlecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}


.Icon {
  position: relative;
  width: 900px;
  height: 550px;
  left: 35%;
  top: 20%;
}
.detailstitle{
  position: absolute;
  justify-content: center;
  top: 1900px;
  left: 31%;
  font-size: 100px;
  color: var(--midlight-main-color);
}

.details{
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 1750px;
  left: 48%
}

.detailscontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailscontainer > p{
  color: var(--midlight-main-color);
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 2100px;
  left: 34%;
  width: 1000px;
}

.mainpageh1 {
  font-size: 5rem;
  
}

.image1 {
  width: 100%;
  height: 100%;
  background-image: ("./assets/cart.png");
}

.image2 {
  width: 100%;
  height: 100%;
  background-image: ("./assets/name.png");
}

.searchcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  top: 47%;
  left: 32%;
  gap: 1rem;
  box-shadow: 0px 9px 20px 1px rgba(0,0,0,0.78);
}

/* Search Results*/

.search-results {
  background-color: var(--midlight-main-color);
}

.featurescontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* changed from absolute to relative */
  border-radius: 50px; 
  height: 100%;
  width: 100%;
  padding-top: 10rem;
}

.features-img{
  max-height: 6rem;
  max-width: 6rem;
  margin-right: 2.5rem;
}
.features{
  font-size: 5rem;
  padding: 2rem;
}

.feature-boxes{
  padding-top: 10rem;
}

.feature-subtitle > p{
  font-size: 1.6rem;
}
.box {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center; /* added to center the boxes */
  order: 0;
  background-color: #ffffff;
  padding: 3rem;
  width: 50%;
  height: 100%;
  margin: 2rem;
  background-color: white;
  border-radius: 50px;
  /* add other styles as needed */
}

.box-content {
  color: black;
  font-size: 1.6rem;
}

.box-title {
  font-size: 2rem;
}

/* Footer */
.footer {
  background-color: #000000;
  height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.footer-h1 {
  color: var(--text-primary);
  font-size: 3rem;
}

.footer-h2 {
  color: var(--text-primary);
}

/* Basic Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #3498db;
  color: #ffffff;
  border-color: #ffffff;
}

/* Additional Styles for Different States */
.button:active {
  background-color: #1f618d;
  border-color: #1f618d;
}

/* Disable the button */
.button:disabled {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  color: #7f8c8d;
  cursor: not-allowed;
}

/* Util */
.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
