:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --transition-speed: 600ms;

  --text-primary: #ffffff;
  --text-secondary: #000000;
  --middle-main-color: #0a5c36;
  --middark-main-color: #0f5132;
  --midlight-main-color: #14452f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
}

*:-webkit-scrollbar-thumb {
  background: var(--middle-main-color);
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
  color: var(--text-primary);
}

input:focus {
  outline: none;
}

/* Components */
.search {
  /* font-family: "DM Sans", sans-serif; */
  justify-self: center;
  border: none;
  padding: 1.9rem 3.2rem;
  font-size: 1.7rem;
  border-radius: 3rem;
  width: 60rem;
  color: black;
  background-color: white;
}

/* Main Page*/

.titlecontainer > p {
  padding-bottom: 1rem;
  color: var(--middle-main-color);
  font-weight: bold;
}

.mainpage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: var(--midlight-main-color);
}

.mainpage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50vh;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titlecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}

.mainpageh1 {
  font-size: 5rem;
  color: var(--text-primary);
}

.image1 {
  width: 100%;
  height: 100%;
  background-image: ("./assets/cart.png");
}

.image2 {
  width: 100%;
  height: 100%;
  background-image: ("./assets/name.png");
}

.searchcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 47%;
  left: 32%;
  gap: 1rem;
}

/* Footer */
.footer {
  background-color: #000000;
  height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.footer-h1 {
  color: var(--text-primary);
  font-size: 3rem;
}

.footer-h2 {
  color: var(--text-primary);
}
